<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Stercket Battle Web edition</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  
  </head>
    <body>
        <form th:object="${stercket}" method="post">
            
            		<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
                    <label for="name">Name : </label>
                    <input type="text" id="name" th:field="*{name}">
                    <br>
             
                    <input type="submit" value="Create"> 
        </form>
    </body>
</html>